@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }

  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }
}

:root {
  --font-jetbrainsMono: 'JetBrains Mono';
  --radius: 5px;
}

/* 滚动条整体样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #00ff99; /* 滑块背景色 */
  border-radius: 10px; /* 圆角 */
}

/* 滑块悬停样式 */
::-webkit-scrollbar-thumb:hover {
  background: #00ff99;
}
